body{
    width:80;
    margin-left: auto;
}
hr{
    height:2px;
    background-color: azure;
}
#pname{
    text-align: center
}
h3{
    background-color: gray;
    width: 80%;
    margin: auto;
}
h2{
    background-color: gray;
    width: 20%;
    margin: auto;
}
table{
    width:80%;
    border-collapse: collapse;
    margin:auto;
}
table th{
    background-color: green;
    color:white;
}
table th,td{
    border-bottom: 1px solid gray;
}
form{
    width:600px;
    height:200px;
    margin:auto;
    background-color: aquamarine;
}
label{
    float:left;
    width:200px
}